// main layout sass for overall html element styling and top level layout.

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-size: $base;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	color: $text;
	background-color: $bg;
	margin: $dmrg;
}

h1, h2, h3, p {
  margin-bottom: $mrg;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
h1 { font-size: $base * 3; margin-top: $mrg; }
h2 { font-size: $base * 2.5; text-transform: lowercase; }
h3 { font-size: $base * 2; text-transform: lowercase; }
h4 { font-size: $base * 1.5; }
h5 { font-size: $base; }

b, strong, h4 { font-weight: 700; }
h5 { font-weight: 300; }
em, i { font-style: italic; }

code,
pre {
	font-family: $monospace;
	color: $red;
}

small { font-size: $base * 0.8 }
big { font-size: $base * 1.2 }

a {
  text-decoration: none;
  color: $orange;
  @include transition(all 0.3s);

  &:hover {
    text-decoration: underline;
    color: lighten($orange, 20%);
  }
}

.sprite {
	display: inline-block;
	margin: $mrg;

	&.bear { @include sprite($bear); }
	&.dragon { @include sprite($dragon); }
	&.deflect { @include sprite($deflect); }
	&.sun { @include sprite($sun); }
}

header,
main,
footer {
  @include outer-container(780px);
}
header > div,
footer > div {
  @include span-columns(12);
}
section {
  @include span-columns(12);
  margin-bottom: $dmrg;

  article {
    font-size: $base * 1.5;
  }
}
