
@mixin border-radius($radius: $border-radius) {
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

@mixin grayscale($percent: '100%') {
  filter: grayscale($percent);
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  filter: grayscale($percent);
  filter: gray;
  -webkit-filter: grayscale($percent / 100);
}

@mixin full-width() {

  @include media("<=md") {

    %full-width {
      @include span-columns($grid-columns);
      @include shift(0);
      @include omega(0);
    }

    .alpha, .beta,
    .columns-2, .columns-4, .columns-6, .columns-8, .columns-10, .columns-12 {
      @extend %full-width;
      p:last-child { margin-bottom: 0; }
    }

    body.front & {
      .sprite,
      .fa { display: none; }
    }

    h1 { font-size: $base * 2.4; }
    h2 { font-size: $base * 2; }
    h3 { font-size: $base * 1.6; }

  }
}
