// sass settings and variables

// breakpoints map for include-media.
$breakpoints: (xs: 750px, sm: 970px, lg: 1170px);

// neat grid settings
$grid-columns: 12 !global;
$max-width: 750px !global;
$border-box-sizing: true !global;

// colors
$black: #000;
$white: #fff;
$gray-darker: #2b2b2b;
$gray-dark: #333;
$gray: #888;
$gray-light: #bbb;
$gray-lighter: #e4e4e4;

$blue: #41a7bf;
$red: #b20b23;
$green: #6b7e28;
$orange: #f93;

// layout variables
$base: 16px; // our base font-size;
$mrg: 12px; // most padding and margins should be a multiple of $mrg
$hmrg: ($mrg * 0.50);
$dmrg: ($mrg * 2.0);
$qmrg: ($mrg * 0.25);

$text: $gray-lighter;
$bg: $gray-darker;
