// sass settings and variables

// breakpoints map for include-media.
$breakpoints: (sm: 490px, md: 768px, lg: 1024px);
$max-width: 768px !global;

// colors
$black: #000;
$white: #fff;
$gray-darker: #2b2b2b;
$gray-dark: #333;
$gray-4: #444;
$gray: #666;
$gray-light: #bbb;
$gray-lighter: #e4e4e4;

$blue: #41a7bf;
$red: #b20b23;
$green: #6b7e28;
$orange: lighten(#f93, 10%);
$purple: #6f5499;

$sochadev-gray: #1c1c1c;
$sochadev-blue: #77d2e9;
$sochadev-red: #cd3737;
$sochadev-green: #8faa37;

// layout variables
$base: 16px; // our base font-size;
$mrg: 12px; // most padding and margins should be a multiple of $mrg
$hmrg: ($mrg * 0.50);
$dmrg: ($mrg * 2.0);
$qmrg: ($mrg * 0.25);

$text: $gray-lighter;
$bg: $gray-darker;

// flourishes
$border-radius: 3px;
