/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$a-team-name: 'a-team';
$a-team-x: 0px;
$a-team-y: 0px;
$a-team-offset-x: 0px;
$a-team-offset-y: 0px;
$a-team-width: 200px;
$a-team-height: 214px;
$a-team-total-width: 580px;
$a-team-total-height: 484px;
$a-team-image: 'sprites.png';
$a-team: (0px, 0px, 0px, 0px, 200px, 214px, 580px, 484px, 'sprites.png', 'a-team', );
$discovery-communications-name: 'discovery-communications';
$discovery-communications-x: 210px;
$discovery-communications-y: 0px;
$discovery-communications-offset-x: -210px;
$discovery-communications-offset-y: 0px;
$discovery-communications-width: 180px;
$discovery-communications-height: 125px;
$discovery-communications-total-width: 580px;
$discovery-communications-total-height: 484px;
$discovery-communications-image: 'sprites.png';
$discovery-communications: (210px, 0px, -210px, 0px, 180px, 125px, 580px, 484px, 'sprites.png', 'discovery-communications', );
$home-front-communications-cook-political-report-name: 'home-front-communications-cook-political-report';
$home-front-communications-cook-political-report-x: 0px;
$home-front-communications-cook-political-report-y: 224px;
$home-front-communications-cook-political-report-offset-x: 0px;
$home-front-communications-cook-political-report-offset-y: -224px;
$home-front-communications-cook-political-report-width: 180px;
$home-front-communications-cook-political-report-height: 125px;
$home-front-communications-cook-political-report-total-width: 580px;
$home-front-communications-cook-political-report-total-height: 484px;
$home-front-communications-cook-political-report-image: 'sprites.png';
$home-front-communications-cook-political-report: (0px, 224px, 0px, -224px, 180px, 125px, 580px, 484px, 'sprites.png', 'home-front-communications-cook-political-report', );
$home-front-communications-national-press-club-name: 'home-front-communications-national-press-club';
$home-front-communications-national-press-club-x: 190px;
$home-front-communications-national-press-club-y: 224px;
$home-front-communications-national-press-club-offset-x: -190px;
$home-front-communications-national-press-club-offset-y: -224px;
$home-front-communications-national-press-club-width: 180px;
$home-front-communications-national-press-club-height: 125px;
$home-front-communications-national-press-club-total-width: 580px;
$home-front-communications-national-press-club-total-height: 484px;
$home-front-communications-national-press-club-image: 'sprites.png';
$home-front-communications-national-press-club: (190px, 224px, -190px, -224px, 180px, 125px, 580px, 484px, 'sprites.png', 'home-front-communications-national-press-club', );
$iws-channel-democracy-name: 'iws-channel-democracy';
$iws-channel-democracy-x: 400px;
$iws-channel-democracy-y: 0px;
$iws-channel-democracy-offset-x: -400px;
$iws-channel-democracy-offset-y: 0px;
$iws-channel-democracy-width: 180px;
$iws-channel-democracy-height: 125px;
$iws-channel-democracy-total-width: 580px;
$iws-channel-democracy-total-height: 484px;
$iws-channel-democracy-image: 'sprites.png';
$iws-channel-democracy: (400px, 0px, -400px, 0px, 180px, 125px, 580px, 484px, 'sprites.png', 'iws-channel-democracy', );
$repequity-name: 'repequity';
$repequity-x: 400px;
$repequity-y: 135px;
$repequity-offset-x: -400px;
$repequity-offset-y: -135px;
$repequity-width: 180px;
$repequity-height: 125px;
$repequity-total-width: 580px;
$repequity-total-height: 484px;
$repequity-image: 'sprites.png';
$repequity: (400px, 135px, -400px, -135px, 180px, 125px, 580px, 484px, 'sprites.png', 'repequity', );
$seabourne-fcc-name: 'seabourne-fcc';
$seabourne-fcc-x: 0px;
$seabourne-fcc-y: 359px;
$seabourne-fcc-offset-x: 0px;
$seabourne-fcc-offset-y: -359px;
$seabourne-fcc-width: 180px;
$seabourne-fcc-height: 125px;
$seabourne-fcc-total-width: 580px;
$seabourne-fcc-total-height: 484px;
$seabourne-fcc-image: 'sprites.png';
$seabourne-fcc: (0px, 359px, 0px, -359px, 180px, 125px, 580px, 484px, 'sprites.png', 'seabourne-fcc', );
$spritesheet-width: 580px;
$spritesheet-height: 484px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($a-team, $discovery-communications, $home-front-communications-cook-political-report, $home-front-communications-national-press-club, $iws-channel-democracy, $repequity, $seabourne-fcc, );
$spritesheet: (580px, 484px, 'sprites.png', $spritesheet-sprites, );


