/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$a-team-name: 'a-team';
$a-team-x: 0px;
$a-team-y: 0px;
$a-team-offset-x: 0px;
$a-team-offset-y: 0px;
$a-team-width: 200px;
$a-team-height: 214px;
$a-team-total-width: 560px;
$a-team-total-height: 484px;
$a-team-image: 'sprites.jpg';
$a-team: (0px, 0px, 0px, 0px, 200px, 214px, 560px, 484px, 'sprites.jpg', 'a-team', );
$aaas-science-name: 'aaas-science';
$aaas-science-x: 200px;
$aaas-science-y: 0px;
$aaas-science-offset-x: -200px;
$aaas-science-offset-y: 0px;
$aaas-science-width: 180px;
$aaas-science-height: 135px;
$aaas-science-total-width: 560px;
$aaas-science-total-height: 484px;
$aaas-science-image: 'sprites.jpg';
$aaas-science: (200px, 0px, -200px, 0px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'aaas-science', );
$discovery-education-name: 'discovery-education';
$discovery-education-x: 0px;
$discovery-education-y: 214px;
$discovery-education-offset-x: 0px;
$discovery-education-offset-y: -214px;
$discovery-education-width: 180px;
$discovery-education-height: 135px;
$discovery-education-total-width: 560px;
$discovery-education-total-height: 484px;
$discovery-education-image: 'sprites.jpg';
$discovery-education: (0px, 214px, 0px, -214px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'discovery-education', );
$home-front-communications-cook-political-report-name: 'home-front-communications-cook-political-report';
$home-front-communications-cook-political-report-x: 180px;
$home-front-communications-cook-political-report-y: 214px;
$home-front-communications-cook-political-report-offset-x: -180px;
$home-front-communications-cook-political-report-offset-y: -214px;
$home-front-communications-cook-political-report-width: 180px;
$home-front-communications-cook-political-report-height: 135px;
$home-front-communications-cook-political-report-total-width: 560px;
$home-front-communications-cook-political-report-total-height: 484px;
$home-front-communications-cook-political-report-image: 'sprites.jpg';
$home-front-communications-cook-political-report: (180px, 214px, -180px, -214px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'home-front-communications-cook-political-report', );
$home-front-communications-national-press-club-name: 'home-front-communications-national-press-club';
$home-front-communications-national-press-club-x: 380px;
$home-front-communications-national-press-club-y: 0px;
$home-front-communications-national-press-club-offset-x: -380px;
$home-front-communications-national-press-club-offset-y: 0px;
$home-front-communications-national-press-club-width: 180px;
$home-front-communications-national-press-club-height: 135px;
$home-front-communications-national-press-club-total-width: 560px;
$home-front-communications-national-press-club-total-height: 484px;
$home-front-communications-national-press-club-image: 'sprites.jpg';
$home-front-communications-national-press-club: (380px, 0px, -380px, 0px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'home-front-communications-national-press-club', );
$iws-channel-democracy-name: 'iws-channel-democracy';
$iws-channel-democracy-x: 380px;
$iws-channel-democracy-y: 135px;
$iws-channel-democracy-offset-x: -380px;
$iws-channel-democracy-offset-y: -135px;
$iws-channel-democracy-width: 180px;
$iws-channel-democracy-height: 135px;
$iws-channel-democracy-total-width: 560px;
$iws-channel-democracy-total-height: 484px;
$iws-channel-democracy-image: 'sprites.jpg';
$iws-channel-democracy: (380px, 135px, -380px, -135px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'iws-channel-democracy', );
$repequity-name: 'repequity';
$repequity-x: 0px;
$repequity-y: 349px;
$repequity-offset-x: 0px;
$repequity-offset-y: -349px;
$repequity-width: 180px;
$repequity-height: 135px;
$repequity-total-width: 560px;
$repequity-total-height: 484px;
$repequity-image: 'sprites.jpg';
$repequity: (0px, 349px, 0px, -349px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'repequity', );
$seabourne-fcc-name: 'seabourne-fcc';
$seabourne-fcc-x: 180px;
$seabourne-fcc-y: 349px;
$seabourne-fcc-offset-x: -180px;
$seabourne-fcc-offset-y: -349px;
$seabourne-fcc-width: 180px;
$seabourne-fcc-height: 135px;
$seabourne-fcc-total-width: 560px;
$seabourne-fcc-total-height: 484px;
$seabourne-fcc-image: 'sprites.jpg';
$seabourne-fcc: (180px, 349px, -180px, -349px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'seabourne-fcc', );
$socha-dev-white-label-orig-name: 'socha-dev-white-label-orig';
$socha-dev-white-label-orig-x: 360px;
$socha-dev-white-label-orig-y: 349px;
$socha-dev-white-label-orig-offset-x: -360px;
$socha-dev-white-label-orig-offset-y: -349px;
$socha-dev-white-label-orig-width: 180px;
$socha-dev-white-label-orig-height: 135px;
$socha-dev-white-label-orig-total-width: 560px;
$socha-dev-white-label-orig-total-height: 484px;
$socha-dev-white-label-orig-image: 'sprites.jpg';
$socha-dev-white-label-orig: (360px, 349px, -360px, -349px, 180px, 135px, 560px, 484px, 'sprites.jpg', 'socha-dev-white-label-orig', );
$spritesheet-width: 560px;
$spritesheet-height: 484px;
$spritesheet-image: 'sprites.jpg';
$spritesheet-sprites: ($a-team, $aaas-science, $discovery-education, $home-front-communications-cook-political-report, $home-front-communications-national-press-club, $iws-channel-democracy, $repequity, $seabourne-fcc, $socha-dev-white-label-orig, );
$spritesheet: (560px, 484px, 'sprites.jpg', $spritesheet-sprites, );


