/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$aaas-science-name: 'aaas-science';
$aaas-science-x: 0px;
$aaas-science-y: 0px;
$aaas-science-offset-x: 0px;
$aaas-science-offset-y: 0px;
$aaas-science-width: 180px;
$aaas-science-height: 135px;
$aaas-science-total-width: 540px;
$aaas-science-total-height: 405px;
$aaas-science-image: 'sprites.png';
$aaas-science: (0px, 0px, 0px, 0px, 180px, 135px, 540px, 405px, 'sprites.png', 'aaas-science', );
$discovery-education-name: 'discovery-education';
$discovery-education-x: 180px;
$discovery-education-y: 0px;
$discovery-education-offset-x: -180px;
$discovery-education-offset-y: 0px;
$discovery-education-width: 180px;
$discovery-education-height: 135px;
$discovery-education-total-width: 540px;
$discovery-education-total-height: 405px;
$discovery-education-image: 'sprites.png';
$discovery-education: (180px, 0px, -180px, 0px, 180px, 135px, 540px, 405px, 'sprites.png', 'discovery-education', );
$home-front-communications-cook-political-report-name: 'home-front-communications-cook-political-report';
$home-front-communications-cook-political-report-x: 0px;
$home-front-communications-cook-political-report-y: 135px;
$home-front-communications-cook-political-report-offset-x: 0px;
$home-front-communications-cook-political-report-offset-y: -135px;
$home-front-communications-cook-political-report-width: 180px;
$home-front-communications-cook-political-report-height: 135px;
$home-front-communications-cook-political-report-total-width: 540px;
$home-front-communications-cook-political-report-total-height: 405px;
$home-front-communications-cook-political-report-image: 'sprites.png';
$home-front-communications-cook-political-report: (0px, 135px, 0px, -135px, 180px, 135px, 540px, 405px, 'sprites.png', 'home-front-communications-cook-political-report', );
$home-front-communications-national-press-club-name: 'home-front-communications-national-press-club';
$home-front-communications-national-press-club-x: 180px;
$home-front-communications-national-press-club-y: 135px;
$home-front-communications-national-press-club-offset-x: -180px;
$home-front-communications-national-press-club-offset-y: -135px;
$home-front-communications-national-press-club-width: 180px;
$home-front-communications-national-press-club-height: 135px;
$home-front-communications-national-press-club-total-width: 540px;
$home-front-communications-national-press-club-total-height: 405px;
$home-front-communications-national-press-club-image: 'sprites.png';
$home-front-communications-national-press-club: (180px, 135px, -180px, -135px, 180px, 135px, 540px, 405px, 'sprites.png', 'home-front-communications-national-press-club', );
$iws-channel-democracy-name: 'iws-channel-democracy';
$iws-channel-democracy-x: 360px;
$iws-channel-democracy-y: 0px;
$iws-channel-democracy-offset-x: -360px;
$iws-channel-democracy-offset-y: 0px;
$iws-channel-democracy-width: 180px;
$iws-channel-democracy-height: 135px;
$iws-channel-democracy-total-width: 540px;
$iws-channel-democracy-total-height: 405px;
$iws-channel-democracy-image: 'sprites.png';
$iws-channel-democracy: (360px, 0px, -360px, 0px, 180px, 135px, 540px, 405px, 'sprites.png', 'iws-channel-democracy', );
$repequity-name: 'repequity';
$repequity-x: 360px;
$repequity-y: 135px;
$repequity-offset-x: -360px;
$repequity-offset-y: -135px;
$repequity-width: 180px;
$repequity-height: 135px;
$repequity-total-width: 540px;
$repequity-total-height: 405px;
$repequity-image: 'sprites.png';
$repequity: (360px, 135px, -360px, -135px, 180px, 135px, 540px, 405px, 'sprites.png', 'repequity', );
$seabourne-fcc-name: 'seabourne-fcc';
$seabourne-fcc-x: 0px;
$seabourne-fcc-y: 270px;
$seabourne-fcc-offset-x: 0px;
$seabourne-fcc-offset-y: -270px;
$seabourne-fcc-width: 180px;
$seabourne-fcc-height: 135px;
$seabourne-fcc-total-width: 540px;
$seabourne-fcc-total-height: 405px;
$seabourne-fcc-image: 'sprites.png';
$seabourne-fcc: (0px, 270px, 0px, -270px, 180px, 135px, 540px, 405px, 'sprites.png', 'seabourne-fcc', );
$socha-dev-white-label-orig-name: 'socha-dev-white-label-orig';
$socha-dev-white-label-orig-x: 180px;
$socha-dev-white-label-orig-y: 270px;
$socha-dev-white-label-orig-offset-x: -180px;
$socha-dev-white-label-orig-offset-y: -270px;
$socha-dev-white-label-orig-width: 180px;
$socha-dev-white-label-orig-height: 135px;
$socha-dev-white-label-orig-total-width: 540px;
$socha-dev-white-label-orig-total-height: 405px;
$socha-dev-white-label-orig-image: 'sprites.png';
$socha-dev-white-label-orig: (180px, 270px, -180px, -270px, 180px, 135px, 540px, 405px, 'sprites.png', 'socha-dev-white-label-orig', );
$aaas-science-2x-name: 'aaas-science@2x';
$aaas-science-2x-x: 0px;
$aaas-science-2x-y: 0px;
$aaas-science-2x-offset-x: 0px;
$aaas-science-2x-offset-y: 0px;
$aaas-science-2x-width: 360px;
$aaas-science-2x-height: 270px;
$aaas-science-2x-total-width: 1080px;
$aaas-science-2x-total-height: 810px;
$aaas-science-2x-image: 'sprites@2x.png';
$aaas-science-2x: (0px, 0px, 0px, 0px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'aaas-science@2x', );
$discovery-education-2x-name: 'discovery-education@2x';
$discovery-education-2x-x: 360px;
$discovery-education-2x-y: 0px;
$discovery-education-2x-offset-x: -360px;
$discovery-education-2x-offset-y: 0px;
$discovery-education-2x-width: 360px;
$discovery-education-2x-height: 270px;
$discovery-education-2x-total-width: 1080px;
$discovery-education-2x-total-height: 810px;
$discovery-education-2x-image: 'sprites@2x.png';
$discovery-education-2x: (360px, 0px, -360px, 0px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'discovery-education@2x', );
$home-front-communications-cook-political-report-2x-name: 'home-front-communications-cook-political-report@2x';
$home-front-communications-cook-political-report-2x-x: 0px;
$home-front-communications-cook-political-report-2x-y: 270px;
$home-front-communications-cook-political-report-2x-offset-x: 0px;
$home-front-communications-cook-political-report-2x-offset-y: -270px;
$home-front-communications-cook-political-report-2x-width: 360px;
$home-front-communications-cook-political-report-2x-height: 270px;
$home-front-communications-cook-political-report-2x-total-width: 1080px;
$home-front-communications-cook-political-report-2x-total-height: 810px;
$home-front-communications-cook-political-report-2x-image: 'sprites@2x.png';
$home-front-communications-cook-political-report-2x: (0px, 270px, 0px, -270px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'home-front-communications-cook-political-report@2x', );
$home-front-communications-national-press-club-2x-name: 'home-front-communications-national-press-club@2x';
$home-front-communications-national-press-club-2x-x: 360px;
$home-front-communications-national-press-club-2x-y: 270px;
$home-front-communications-national-press-club-2x-offset-x: -360px;
$home-front-communications-national-press-club-2x-offset-y: -270px;
$home-front-communications-national-press-club-2x-width: 360px;
$home-front-communications-national-press-club-2x-height: 270px;
$home-front-communications-national-press-club-2x-total-width: 1080px;
$home-front-communications-national-press-club-2x-total-height: 810px;
$home-front-communications-national-press-club-2x-image: 'sprites@2x.png';
$home-front-communications-national-press-club-2x: (360px, 270px, -360px, -270px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'home-front-communications-national-press-club@2x', );
$iws-channel-democracy-2x-name: 'iws-channel-democracy@2x';
$iws-channel-democracy-2x-x: 720px;
$iws-channel-democracy-2x-y: 0px;
$iws-channel-democracy-2x-offset-x: -720px;
$iws-channel-democracy-2x-offset-y: 0px;
$iws-channel-democracy-2x-width: 360px;
$iws-channel-democracy-2x-height: 270px;
$iws-channel-democracy-2x-total-width: 1080px;
$iws-channel-democracy-2x-total-height: 810px;
$iws-channel-democracy-2x-image: 'sprites@2x.png';
$iws-channel-democracy-2x: (720px, 0px, -720px, 0px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'iws-channel-democracy@2x', );
$repequity-2x-name: 'repequity@2x';
$repequity-2x-x: 720px;
$repequity-2x-y: 270px;
$repequity-2x-offset-x: -720px;
$repequity-2x-offset-y: -270px;
$repequity-2x-width: 360px;
$repequity-2x-height: 270px;
$repequity-2x-total-width: 1080px;
$repequity-2x-total-height: 810px;
$repequity-2x-image: 'sprites@2x.png';
$repequity-2x: (720px, 270px, -720px, -270px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'repequity@2x', );
$seabourne-fcc-2x-name: 'seabourne-fcc@2x';
$seabourne-fcc-2x-x: 0px;
$seabourne-fcc-2x-y: 540px;
$seabourne-fcc-2x-offset-x: 0px;
$seabourne-fcc-2x-offset-y: -540px;
$seabourne-fcc-2x-width: 360px;
$seabourne-fcc-2x-height: 270px;
$seabourne-fcc-2x-total-width: 1080px;
$seabourne-fcc-2x-total-height: 810px;
$seabourne-fcc-2x-image: 'sprites@2x.png';
$seabourne-fcc-2x: (0px, 540px, 0px, -540px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'seabourne-fcc@2x', );
$socha-dev-white-label-orig-2x-name: 'socha-dev-white-label-orig@2x';
$socha-dev-white-label-orig-2x-x: 360px;
$socha-dev-white-label-orig-2x-y: 540px;
$socha-dev-white-label-orig-2x-offset-x: -360px;
$socha-dev-white-label-orig-2x-offset-y: -540px;
$socha-dev-white-label-orig-2x-width: 360px;
$socha-dev-white-label-orig-2x-height: 270px;
$socha-dev-white-label-orig-2x-total-width: 1080px;
$socha-dev-white-label-orig-2x-total-height: 810px;
$socha-dev-white-label-orig-2x-image: 'sprites@2x.png';
$socha-dev-white-label-orig-2x: (360px, 540px, -360px, -540px, 360px, 270px, 1080px, 810px, 'sprites@2x.png', 'socha-dev-white-label-orig@2x', );
$spritesheet-width: 540px;
$spritesheet-height: 405px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($aaas-science, $discovery-education, $home-front-communications-cook-political-report, $home-front-communications-national-press-club, $iws-channel-democracy, $repequity, $seabourne-fcc, $socha-dev-white-label-orig, );
$spritesheet: (540px, 405px, 'sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1080px;
$retina-spritesheet-height: 810px;
$retina-spritesheet-image: 'sprites@2x.png';
$retina-spritesheet-sprites: ($aaas-science-2x, $discovery-education-2x, $home-front-communications-cook-political-report-2x, $home-front-communications-national-press-club-2x, $iws-channel-democracy-2x, $repequity-2x, $seabourne-fcc-2x, $socha-dev-white-label-orig-2x, );
$retina-spritesheet: (1080px, 810px, 'sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$aaas-science-group-name: 'aaas-science';
$aaas-science-group: ('aaas-science', $aaas-science, $aaas-science-2x, );
$discovery-education-group-name: 'discovery-education';
$discovery-education-group: ('discovery-education', $discovery-education, $discovery-education-2x, );
$home-front-communications-cook-political-report-group-name: 'home-front-communications-cook-political-report';
$home-front-communications-cook-political-report-group: ('home-front-communications-cook-political-report', $home-front-communications-cook-political-report, $home-front-communications-cook-political-report-2x, );
$home-front-communications-national-press-club-group-name: 'home-front-communications-national-press-club';
$home-front-communications-national-press-club-group: ('home-front-communications-national-press-club', $home-front-communications-national-press-club, $home-front-communications-national-press-club-2x, );
$iws-channel-democracy-group-name: 'iws-channel-democracy';
$iws-channel-democracy-group: ('iws-channel-democracy', $iws-channel-democracy, $iws-channel-democracy-2x, );
$repequity-group-name: 'repequity';
$repequity-group: ('repequity', $repequity, $repequity-2x, );
$seabourne-fcc-group-name: 'seabourne-fcc';
$seabourne-fcc-group: ('seabourne-fcc', $seabourne-fcc, $seabourne-fcc-2x, );
$socha-dev-white-label-orig-group-name: 'socha-dev-white-label-orig';
$socha-dev-white-label-orig-group: ('socha-dev-white-label-orig', $socha-dev-white-label-orig, $socha-dev-white-label-orig-2x, );
$retina-groups: ($aaas-science-group, $discovery-education-group, $home-front-communications-cook-political-report-group, $home-front-communications-national-press-club-group, $iws-channel-democracy-group, $repequity-group, $seabourne-fcc-group, $socha-dev-white-label-orig-group, );


