@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'vendor/bourbon/bourbon';
@import 'settings';
@import 'mixins';

body {
  font-size: $base;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: $bg;
  background-color: $white;
  margin: $dmrg;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-bottom: $mrg;
}

p {
  margin-bottom: $dmrg;
  margin-top: 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  @include clearfix();
  width: 100%;
}

img.logo {
  @include border-radius();
  display: block;
  float: right;
  margin: 0 0 $dmrg $dmrg;
  width: 36px;
  height: 36px;
}
