<meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title | strip_html }}{% endif %}{% if page.url != '/' %} | {{ site.title }}{% endif %}</title>
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% else %}{{ page.title }}{% endif %}, {{ site.title }}, {{ site.tagline }}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta property="fb:app_id" content="{{ site.facebook.appId }}" />
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html }}{% endif %}{% if page.url != '/' %} | {{ site.title }}{% endif %}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/favicon/fluidicon.png" />
  <meta property="og:type" content="business.business" />
  <meta property="business:contact_data:street_address" content="brick and mortar...really?" />
  <meta property="business:contact_data:locality" content="the entire intertubes" />
  <meta property="business:contact_data:postal_code" content="when the code you just wrote is very angry" />
  <meta property="business:contact_data:country_name" content="we know no boundary" />
  <meta property="business:contact_data:website" content="{{ site.baseurl }}" />
  <meta property="business:contact_data:email" content="{{ site.contact.email }}" />
  <meta property="business:contact_data:phone_number" content="{{ site.contact.phone }}" />
