<div class="container">

  <ul class="projects">
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
    <li><a>Project</a></li>
  </ul>

  <div id="modal">
    <div class="modal">
      <div class="alpha">
        <img src="https://avatars2.githubusercontent.com/u/1489168?v=3&s=300" class="logo">
      </div>
      <div class="beta">
        <h3 class="title">Title</h3>
        <div class="content">Some project details.</div>
      </div>
    </div>
  </div>

</div>
