<div class="container project-gallery">

  <ul class="projects-list">
    {% for project in site.data.projects %}
    <li>
      <a data-proofer-ignore href="#projects-{{ forloop.index0 }}"
      data-project="{{ forloop.index0 }}"
      title="{{ project.name }}{% if project.name != project.client %}{% if project.whiteLabel %} for {% else %} - {% endif %}{{ project.client }}{% endif %}"
      class="{% if project.whiteLabel %}socha-dev-white-label{% else %}{{ project.name | downcase | split: ' ' | join: '-' | replace: '.', '-' }}{% endif %}">
        {{ project.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div id="modal">
    <div class="modal">
      <div class="white-label-flag">
        <div class="flag">White label</div>
      </div>

      <div class="alpha">
        <img src="{{ site.logoUrl }}" alt="{{ site.title }}">
      </div>

      <div class="beta">
        <h3>
          <a href="{{ site.baseurl }}/" target="_blank" class="name">{{ site.title }}</a>
          <span class="name-anon"></span>
        </h3>
        <p class="partner">Partnered with <a href="{{ site.baseurl }}/" target="_blank" class="client">{{ site.title }}</a><span class="client-anon"></span></p>
        <div class="description">{{ site.tagline }}</div>
      </div>

    </div>
  </div>

</div>
