<div class="container">
        <ul class="projects">{% for project in site.data.projects %}
          <li><a href="{% if project.whiteLabel %}{{ page.url }}{% else %}{{ project.clientUrl }}{% endif %}" data-project="{{ forloop.index | minus: 1 }}" title="{{ project.name }}{% if project.name != project.client %}{% if project.whiteLabel %} for {% else %} - {% endif %}{{ project.client }}{% endif %}" class="{% if project.whiteLabel %}socha-dev-white-label{% else %}{{ project.name | downcase | split: ' ' | join: '-' | replace: '.', '-' }}{% endif %}">{{ project.name }}</a></li>{% endfor %}
        </ul>
        <div id="modal">
          <div class="modal">
            <div class="alpha">
              <img src="{{ site.logoUrl }}" alt="{{ site.title }}">
            </div>
            <div class="beta">
              <h3>
                <a href="{{ site.baseurl }}" target="_blank" class="name">{{ site.title }}</a>
                <span class="name-anon"></span>
              </h3>
              <p class="partner">Partnered with <a href="{{ site.baseurl }}" target="_blank" class="client">{{ site.title }}</a><span class="client-anon"></span></p>
              <div class="description">{{ site.tagline }}</div>
            </div>
          </div>
        </div>
      </div>