
ul.projects {
  @include clearfix();
  margin: $dmrg 0 0 0;
  padding: 0;

  li {
    @include span-columns(3);
    @include omega(4n);
    background: $white;
    margin-bottom: $dmrg;
    border: solid 1px $gray-darker;

    @include media("<=sm") {
      @include span-columns(6);
      @include omega(2n);
      margin-bottom: $mrg;

      &:last-child { margin-bottom: $dmrg; }
    }
  }

  a {
    background: $gray-4;
    cursor: pointer;
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: $dmrg * 2;
    text-indent: -9999px;
    width: 100% !important;
    height: auto !important;

    @include grayscale(100);
    &:hover {
      @include grayscale(0);
    }
    &.socha-dev-white-label {
      background: url('https://avatars2.githubusercontent.com/u/1489168?v=3&s=180') no-repeat 0 0; }
    &.science {
      @include sprite($aaas-science); }
    &.discovery-education {
      @include sprite($discovery-education); }
    &.repequity {
      @include sprite($repequity); }
    &.fcc-gov {
      @include sprite($seabourne-fcc); }
    &.the-national-press-club {
      @include sprite($home-front-communications-national-press-club); }
    &.the-cook-political-report {
      @include sprite($home-front-communications-cook-political-report); }
    &.channel-democracy {
      @include sprite($iws-channel-democracy); }
  }
}


#modal {
  display: none;
  background: rgba($black, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  .modal {
    @include border-radius();
    @include clearfix();
    background: $white;
    color: $bg;
    font-size: $base;
    margin: $dmrg auto;
    padding: $dmrg;
    max-width: #{map-get($breakpoints, 'lg')};

    h3 { text-transform: none; }
    a { color: $blue; }

    @include media(">md") {
      .alpha { @include span-columns(8); @include shift(0); height: 100%; overflow: hidden; }
      .beta { @include span-columns(4); @include omega(0); height: 100%; overflow: hidden; }
      img {float: left; height: 100%; }
    }
    @include media("<=md") {
      margin: $dmrg;
      padding: $mrg;

      .alpha { @include clearfix(); }
      .beta { padding: $dmrg $mrg $mrg $mrg; }
      img { height: auto; width: 100%; }
    }

  }
}
