
.bios {
  padding-bottom: $dmrg*4;

  .container {
    padding: $dmrg 0;
    align-items: top;
    align-items: flex-start;
  }

  .alpha { width: 18%; }
  .beta { width: 82%; }

  p { @extend %text-dense; }

  .avatar {
    border-radius: $border-radius * 2;
    display: block;
    width: 100%;
    margin: 0 0 $mrg 0;
  }

  ul.social {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 $mrg 0 0;
    }
  }

  @include media('<=md') {
    .container {
      display: block;
      padding-top: $dmrg*1.5;
    }

    .alpha {
      width: 100%;
      text-align: center;
    }

    .beta {
      width: 100%;

      h3 { text-align: center; }
    }

    .avatar {
      display: inline-block;
      margin: $mrg;
      width: 144px;
      border-radius: $border-radius;
    }
  }
}
