
.bios {
  @include media(">=md") {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    margin-top: ($dmrg * 2);
    align-items: top;
  }

  .alpha {
    width: 16%;
  }
  .beta {
    width: 84%;
  }

  p {
    @extend %text-dense;
  }

  img.avatar {
    border-radius: $border-radius * 2;
    display: block;
    width: 100%;
    margin: 0 0 $mrg 0;

    @include media("<md") {
      border-radius: $border-radius;
    }
  }

  ul.social {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 $mrg 0 0;
    }
  }
}
