// Typography stuff.
  @import url(https://fonts.googleapis.com/css?family=Ubuntu:400);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  p, ul, ol {
    margin-bottom: $dmrg;
    margin-top: 0;

    &:last-child { margin-bottom: 0; }
  }
  h2, h3 {
    margin-bottom: $mrg * 1.2;
    margin-top: 0;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1;
  }
  h1 {
    font-size: $base * 2.8;
    margin: 0;
  }
  h2 {
    font-size: $base * 2.4;
    text-transform: lowercase;
  }
  h3 {
    font-size: $base * 2;
    text-transform: lowercase;
  }

  body.team main .stripe,
  body.download main .stripe {
    h2, h3 {
      text-transform: capitalize;
    }
  }

  h4 { font-size: $base * 1.6; }
  h5 { font-size: $base; }

  b, strong, .bold, h4 { font-weight: 500; }
  .capitalize { text-transform: capitalize; }
  h5 { font-weight: 300; }
  em, i { font-style: italic; }

  pre {
    @include border-radius($border-radius * 2);
    background: $gray-4;
    clear: both;
    color: $text;
    font-family: $monospace;
    padding: $dmrg $mrg;
    width: 100%;
  }
  code {
    @include border-radius($border-radius * 2);
    background: $gray-4;
    padding: $border-radius ($border-radius * 2);
    white-space: nowrap;
  }
  hr {
    border: solid 2px $gray-dark;
    clear: both;
    float: left;
    height: 1px;
    margin: $dmrg 0;
    width: 100%;
  }
  img {
    display: block; float: left;
  }
  small { font-size: $base * 0.8 }
  big { font-size: $base * 1.2 }

  a {
    text-decoration: none;
    outline: none;
    color: $orange;
    @include transition(all 0.3s);

    &:hover {
      text-decoration: underline;
      color: lighten($orange, 10%);
    }
    .social &:hover {
      text-decoration: none;
    }
    &:visited,
    &:focus {
      outline: none;
    }
  }

  // Text highlighting.
  %text-highlight {
    &.blue { color: lighten($blue, 20%); }
    $blue-lighter: lighten($blue, 35%);
    &.blue.bg {
      background: $blue-lighter;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.blue:hover { color: $blue-lighter; }

    &.red { color: lighten($red, 30%); }
    $red-lighter: lighten($red, 45%);
    &.red.bg {
      background: $red-lighter;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.red:hover { color: $red-lighter; }

    &.green { color: lighten($green, 30%); }
    $green-lighter: lighten($green, 50%);
    &.green.bg {
      background: $green-lighter;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.green:hover { color: $green-lighter; }

    &.gray { color: $gray-lighter; }
    $gray-lightest: lighten($gray-lighter, 100%);
    &.gray.bg {
      background: $gray-lightest;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.gray:hover { color: $gray-lightest; }

    &.orange { color: $orange; }
    $orange-lighter: lighten($orange, 10%);
    &.orange.bg {
      background: $orange-lighter;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.orange:hover { color: $orange-lighter; }

    &.purple { color: lighten($purple, 20%); }
    $purple-lighter: lighten($purple, 35%);
    &.purple.bg {
      background: $purple-lighter;
      color: $gray-darker;
      &:hover { color: $gray-darker; }
    }
    &.purple:hover { color: $purple-lighter; }
  }

  a, span {
    @extend %text-highlight;
  }
  .breadcrumb {
    margin-top: $mrg;
    text-transform: lowercase;
  }

  span.tooltip {
    border-bottom: dotted 2px $gray;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    .tip {
      @extend %text-highlight;
      white-space: normal;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin-bottom: $mrg;
      margin-left: 0;
      width: ($mrg * 20);
      @include border-radius($border-radius * 2);
      background: $white;
      border: solid $border-radius $gray-darker;
      color: $gray-dark;
      padding: $mrg;
      font-size: $base - 3;
    }
  }