<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}{% include favicon.html %}  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
  <link rel="stylesheet" href="/assets/css/print.css" type="text/css" />
</head>
<body>
  <main>
    <h1><a href="{{ site.baseurl }}" title="Home" class="logo"><img src="{{ site.logoUrl }}" alt="Socha Dev" class="logo"></a> <a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    {{ content }}
    <hr>
    <a href="{{ site.baseurl }}" title="Home" class="logo"><img src="{{ site.logoUrl }}" alt="Socha Dev" class="logo"></a>
    <p>Thank you for your interest in {{ site.title }} &mdash; we look forward to working with you.</p>
    <p><i>References available upon request &mdash; call or email any time (t) 608-213-9838 (e) socha dot jason at sochadev dot com.</i></p>
  </main>
</body>
</html>
